<div id="post-119" class="post-119 page type-page status-publish hentry">
  <div class="container mt-100 mb-100">
    <div class="row">
      <div class="col-sm-12">
        <div class="woocommerce">
          <div class="woocommerce-notices-wrapper"></div>

          <div class="SpecialHeading mb-100">
            <h2 class="special-title special-heading-letter">Buy</h2>
            <p>Kindly fill the form below to place your order.</p>
          </div>

          <form class="login" method="POST" action="/books/buy">
            <p
              class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
            >
              <label for="full_name">Name&nbsp;<span
                  class="required"
                >*</span></label>
              <input
                type="text"
                name="full_name"
                id="full_name"
                autocomplete="name"
                placeholder="Enter your full name"
                required
              />
            </p>
            <p
              class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
            >
              <label for="phone_number">Phone Number&nbsp;<span
                  class="required"
                >*</span></label>
              <span class="password-input"><input
                  class="woocommerce-Input woocommerce-Input--text input-text"
                  type="text"
                  name="phone_number"
                  id="phone_number"
                  placeholder="Enter Phone Number"
                  required
                /><span class="show-password-input"></span></span>
            </p>
            <p
              class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
            >
              <label for="state">State&nbsp;<span
                  class="required"
                >*</span></label>
              <span class="select-input">
                <select name="state" required>
                  <option></option>
                  <option disabled selected>Select State</option>
                  <option value="FCT">Federal Capital Territory(Abuja)</option>
                </select>
              </span>
            </p>
            <p
              class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
            >
              <label for="delivery_address">Address&nbsp;<span
                  class="required"
                >*</span></label>
              <span class="address-input"><input
                  class="woocommerce-Input woocommerce-Input--text input-text"
                  type="text"
                  name="delivery_address"
                  id="delivery_address"
                  placeholder="Enter Your Delivery Address"
                  required
                /><span class="show-address-input"></span></span>
            </p>

            <p
              class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"
            >
              <label for="book_title">Books&nbsp;<span
                  class="required"
                >*</span></label>
              <div class="book_group">
                <input
                  type="checkbox"
                  name="bcm_jss"
                  id="bcm_jss"
                  value="BCM for JSS"
                  onclick="showInput()"
                />
                <label for="bcm_jss">Best Choice Mathematics for Junior
                  Secondary schools</label>
                <input
                  type="number"
                  name="bcm_jss_copies"
                  id="bcm_jss_copies"
                  placeholder="number of copies"
                  style="display: none;"
                />

                <br />
                <input
                  type="checkbox"
                  name="bcm_jss1"
                  id="bcm_jss1"
                  value="BCM for JSS1"
                  onclick="showInput1()"
                />
                <label for="bcm_jss1">Best Choice Mathematics workbook for JSS1</label>
                <input
                  type="number"
                  name="bcm_jss1_copies"
                  id="bcm_jss1_copies"
                  placeholder="number of copies"
                  style="display: none;"
                />
                <br />
                <input
                  type="checkbox"
                  name="bcm_jss2"
                  id="bcm_jss2"
                  value="BCM for JSS2"
                  onclick="showInput2()"
                />
                <label for="bcm_jss2">Best Choice Mathematics workbook for JSS2</label>
                <input
                  type="number"
                  name="bcm_jss2_copies"
                  id="bcm_jss2_copies"
                  style="display: none;"
                  placeholder="number of copies"
                />
                <br />
                <input
                  type="checkbox"
                  name="bcm_jss3"
                  id="bcm_jss3"
                  value="BCM for JSS3"
                  onclick="showInput3()"
                />
                <label for="bcm_jss3">Best Choice Mathematics workbook for JSS3</label>
                <input
                  type="number"
                  name="bcm_jss3_copies"
                  id="bcm_jss3_copies"
                  placeholder="number of copies"
                  style="display: none;"
                />
                <br />
              </div>
            </p>

            <p class="form-row">
              <input
                type="submit"
                class="woocommerce-Button button"
                name="buy"
                value="Buy"
              />
            </p>
          </form>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>