<div class="MAIN-CONTENT">
  <div class="container mt-100 mb-100">
    <div class="row">
      <div class="col-sm-12">
        <div class="woocommerce-notices-wrapper"></div>
        <div
          id="product-145"
          class="post-145 product type-product status-publish has-post-thumbnail product_cat-adventure first instock taxablee shipping-taxable purchasable product-type-simple"
        >
          <section>
            <article
              class="SinglePost post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-writing tag-hobby tag-reading tag-writing"
              id="post-330"
            >
              <div class="container mb-80">
                <div class="SinglePostContent row mb-40">
                  <div
                    class="col-md-10 col-md-offset-0 col-sm-12 col-sm-offset-0"
                  >
                    <div
                      class="single-post-content-inner special-first-letter mb-60"
                    >

                      <h4 class="text-center">The Kick-Off!</h4>
                      <div class="row">
                        <div class="col-md-4 col-sm-3">
                          <img src="/images/bcm-series.png" alt="Preview" />
                        </div>
                        <div class="col-md-8 col-sm-9">
                          <p>
                            Mathematics is not a monster; let us put an end to
                            that nightmare! Your child can implore our
                            evidential approach to study mathematics with ease!
                          </p>
                          <p>
                            In the process of teaching with this method,
                            students started requesting for the lesson notes
                            ahead of each class. To enable them study ahead for
                            a greater participation in subsequent classes. The
                            students said they find the method very interesting,
                            simple and a great relief from the stress and fear
                            initially encountered in solving mathematical
                            problems.
                          </p>
                        </div>
                      </div>

                      <p>
                        It was the constant requests, resulting to high rate of
                        demand that necessitated the compilation of the lesson
                        notes into a textbook to make it available to a wider
                        audience. Interestingly, two chapters included in this
                        textbook are not found in any conventional Mathematics
                        textbooks currently in use. They are foundational for
                        the understanding of Arithmetic and Algebra.
                      </p>
                      <p>
                        Mathematics (as a subject) is the key and foundation for
                        logical and critical thinking. Therefore, it is very
                        essential to choose with caution, the ideal textbook
                        that would give a child the firm foundation. The content
                        of each book is a product of a good quality and high
                        standard classroom experience, which puts the learner’s
                        interest at the core of action. As such, it enables
                        students to love and understand Mathematics concepts.
                      </p>

                      <p>
                        As a result of the classroom experience and direct
                        interactions with students, the contents of the textbook
                        and workbooks, bridges the gap between students and
                        teachers and demystifies the subject through practical
                        approaches. This will afford you the opportunity of
                        having a good resource for your child and you have
                        control over what they study. In addition, you learn
                        alongside your child because of the ease of study.
                      </p>
                      <p>
                        Finally, a good success rate and testimonials are
                        constantly recorded from students who excelled in
                        Mathematics examination and aptitude tests, as a result
                        of using this method.
                      </p>
                      <div class="row">
                        <h4>A glimpse at the content</h4>

                          <p>
                            Beside the topics recommend by education bodies for
                            junior secondary students in mathematics that are
                            well treated in this textbook, you child will be
                            expose to;
                          </p>
                        <div class="col-md-7">
                          <ul>
                            <li>Tips on how to study and understand Mathematics</li>
                            <li>How to multiply any numbers mentally without
                              stress</li>
                            <li>How to find square root of any numbers without
                              using a calculator</li>
                            <li>THow to find square root of perfect and
                              imperfect squares without using a calculator</li>
                            <li>How to divide numbers mentally without stress</li>
                            <li>How to find percentage of numbers mentally</li>
                            <li>Associate properties of number</li>
                            <li>Commutative properties of number</li>
                            <li> Distributive properties of number </li>
                            <li>…and a lot more…</li>
                          </ul>
                        </div>
                        <div class="col-md-5 mt-5">
                          <div
                            id="carouselExampleIndicators"
                            class="carousel slide"
                            data-bs-ride="carousel"
                          >
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img
                                  src="/images/jss1-cover.png"
                                  class="d-block w-100"
                                  alt="..."
                                />
                              </div>
                              <div class="carousel-item">
                                <img
                                  src="/images/jss2-cover.png"
                                  class="d-block w-100"
                                  alt="..."
                                />
                              </div>
                              <div class="carousel-item">
                                <img
                                  src="/images/jss3-cover.png"
                                  class="d-block w-100"
                                  alt="..."
                                />
                              </div>
                            </div>
                            <button
                              class="carousel-control-prev"
                              type="button"
                              data-bs-target="#carouselExampleIndicators"
                              data-bs-slide="prev"
                            >
                              <span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"
                              ></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button
                              class="carousel-control-next"
                              type="button"
                              data-bs-target="#carouselExampleIndicators"
                              data-bs-slide="next"
                            >
                              <span
                                class="carousel-control-next-icon"
                                aria-hidden="true"
                              ></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                      </div>

                      <h4>Why Should I buy it?</h4>
                      <p>
                        Best Choice Mathematics series comes with a 30-day
                        value-proof! This simply means that your child can study
                        it and understand the contents within this stipulated
                        time.
                      </p>

                      <h4>Payment method</h4>
                      <p>
                        We offer pay on delivery in any state capitals and major
                        cities across Nigeria. So you will pay to the dispatch
                        person when s/he brings it to your doorstep or preferred
                        delivery location. Delivery is within 7 working days.
                      </p>

                      <h4>Cost and delivery</h4>
                      The main textbook is sold for N3000
                      <br />
                      Each workbook (JSS 1, 2 and 3) cost N2000
                      <br />
                      Delivery is free. We will call you on phone to confirm
                      your availability before coming to deliver.

                      <h4>15% discount</h4>
                      <p>
                        If your wish to buy these series as gift for other
                        children, 15% discount is offer when you order at least
                        five copies of ANY book in the series
                      </p>
                      <p>
                        15% discount is also given to individuals who want to
                        individual market Best Choice Mathematics Series
                      </p>

                      <h4 style="font-style: italic;">THIS SERIES IS STRICTLY
                        NOT FOR SALE IN BOOKSHOPS</h4>
                      <p>
                        Best Choice Mathematics Textbook for Junior Secondary
                        and workbooks ( JSS 1, 2 & 3) can ONLY be ordered
                        directly from the Publishers and the Author as follows:
                      </p>
                      <span><strong>Publisher:</strong>
                        Dehope Publishers 09011002052</span>
                      <br />
                      <span><strong>Author : </strong>Afanabere Bernard Akoshi
                        08069430990
                      </span>
                      <p>You can also log into
                        <a href="/">www.bestchoicemathematics.com</a>
                        to order your copies or send an SMS to any of the phone
                        numbers with the following information:</p>
                      <p>Your full name, State, City, Delivery Address, Street
                        and preferred delivery point.</p>

                    </div>
                    <!-- end single-post-content-inner -->
                  </div>
                  <!-- end $post_col_count -->
                </div>
                <!-- end SinglePostContent -->
              </div>
              <!-- end container -->
            </article>
          </section>
          {{! <div class="SingleProductHeader mb-100">
            <!-- BCM series -->
            <div class="row">
              <div
                class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images col-md-6"
                data-columns="4"
                style="opacity: 1; transition: opacity 0.25s ease-in-out 0s"
              >
                <div
                  class="woocommerce-product-gallery__image-wrapper SingleProductImage"
                >
                  <div class="woocommerce-product-gallery__image PageFlipBook">
                    <a
                      href="/books/buy"
                      class="is-page-flip single-has-edge has-edge has-edge-thick"
                    >
                      <img
                        width="700"
                        height="1047"
                        src="/images/bcm-series.png"
                        class="attachment-shop_single size-shop_single wp-post-image"
                        alt=""
                        loading="lazy"
                        title="BCM"
                        data-large_image_width="923"
                        data-large_image_height="1381"
                        sizes="(max-width: 400px) 100vw, 700px"
                      /></a>
                  </div>
                  <div class="single-product-price p-price">
                    <span class="price-text font-heading">
                      <span
                        class="woocommerce-Price-amount amount font-heading"
                      >
                        <span class="woocommerce-Price-amount amount"><span
                            class="woocommerce-Price-currencySymbol"
                          >&#8358;</span>3000</span>
                      </span>
                    </span>
                  </div>
                </div>
                <div
                  class="woocommerce-product-gallery__thumbnails_wrapper is-lightbox-gallery"
                ></div>
              </div>

              <div class="single-product-summary col-md-6">
                <div class="SpecialHeading mb-60">
                  <h1
                    class="product_title special-title special-heading-letter entry-title"
                  >
                    BCM series
                  </h1>
                </div>
                <div
                  class="woocommerce-product-details__short-description mb-60"
                >
                  <p>
                    Best choice mathematics is carefully planned and arranged
                    from the known to the unknown with the learners in mind.
                    Each chapter consists of clearly stated objectives of what
                    is to be done. With network of teachers consulted and
                    experts' advice sought, this book series provides the
                    fundamental concept which most students will find
                    appetizing. Each topic is treated step by step from
                    different points of view to enable the reader have a
                    balanced knowledge of each topic under consideration.
                  </p>

                  <div
                    class="spacer"
                    id="shortcode-721c40a2bc3ec5b956576c905369c926"
                  ></div>

                  <a
                    href="/books"
                    class="shortcode-button btn btn-normal"
                    id="shortcode-99506d65e5114750f5ebdf574d5992b1"
                  >
                    <span>View Books</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- .summary -->

            <!-- BCM workbook  -->
            <div class="row">
              <div
                class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images col-md-7"
                data-columns="4"
                style="opacity: 1; transition: opacity 0.25s ease-in-out 0s"
              >
                <div class="SpecialHeading mb-60">
                  <h1
                    class="product_title special-title special-heading-letter entry-title"
                  >
                    BCM Workbook
                  </h1>
                </div>
                <div
                  class="woocommerce-product-details__short-description mb-60"
                >
                  <p>
                    <em>Best Choice Mathematics Workbook</em>
                    is designed to facilitate learners' understanding of each
                    topic covered in the mathematics syllabus for each class. It
                    is highly engaging and provides extra practice questions for
                    learners thereby allowing them to study independently at
                    their pace.
                  </p>
                  <p>
                    More so, it allows both parents and teachers to monitor the
                    progress of their child/student. This workbook serves as a
                    road map for the teacher and a helpful aid for substitute
                    teacher.
                  </p>

                  <div
                    class="spacer"
                    id="shortcode-721c40a2bc3ec5b956576c905369c926"
                  ></div>

                  <a
                    href="/books/buy"
                    class="shortcode-button btn btn-normal"
                    id="shortcode-99506d65e5114750f5ebdf574d5992b1"
                  >
                    <span>Buy Now</span>
                  </a>
                </div>
              </div>

              <div class="single-product-summary col-md-4 col-md-offset-1">
                <div
                  class="woocommerce-product-gallery__image-wrapper SingleProductImage"
                >
                  <div
                    class="woocommerce-product-gallery__image PageFlipBook small_img"
                  >
                    <a
                      href="/books/buy"
                      class="is-page-flip single-has-edge has-edge has-edge-thick"
                    >
                      <img
                        width="700"
                        height="1047"
                        src="/images/bcm-workbook-removebg-preview.png"
                        class="attachment-shop_single size-shop_single wp-post-image"
                        alt=""
                        loading="lazy"
                        title="BCM"
                        data-large_image_width="923"
                        data-large_image_height="1381"
                        sizes="(max-width: 400px) 100vw, 700px"
                      /></a>
                  </div>
                  <div class="single-product-price p-price">
                    <span class="price-text font-heading">
                      <span
                        class="woocommerce-Price-amount amount font-heading"
                      >
                        <span class="woocommerce-Price-amount amount"><span
                            class="woocommerce-Price-currencySymbol"
                          >&#8358;</span>2000</span>
                      </span>
                    </span>
                  </div>
                </div>
                <div
                  class="woocommerce-product-gallery__thumbnails_wrapper is-lightbox-gallery"
                ></div>
              </div>
            </div>
            <!-- end row -->
          </div> }}
          <!-- #product-145 -->
        </div>
        <!-- end col-sm-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</div>