<section class="container">
  <h1>Success</h1>
  <p>Order has been successfully placed. We'll send you details of delivery via mail or sms</p>

  <a href="/order/success/preview/{{_id}}" class="btn btn-info">Preview</a>
  <a href="/" class="btn btn-info">Go Back Home</a>
</section>